<h1>Notes</h1>

<%= link_to 'New Note', notes_new_path %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.id %></td>
        <td><%= link_to note.name, note %></td>
        <td><%= note.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>